* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 12px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif, 'Microsoft YaHei';
  background-color: #f0f4f7;
}

#app {
  height: 100%;
  overflow: hidden;
}

.el-container {
  height: 100%;
}

/*头部样式*/
.el-header {
  height: 60px;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: solid 1px #e1eaf1;
}

.search-m {
  position: relative;
  width: 250px;
  margin-top: 15px;
  float: left;
}

.search-txt {
  display: inline-block;
  width: 195px;
  height: 30px;
  padding-left: 15px;
  padding-right: 40px;
  background-color: #f0f0f0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.search-txt input {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #333;
  border: none;
  outline: none;
  background: none;
}

/*.search-iocn {*/
  /*position: absolute;*/
  /*right: 9px;*/
  /*top: 0;*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*cursor: pointer;*/
  /*background: url(search_iocn.png) no-repeat center center;*/
  /*background-size: 18px 18px;*/
/*}*/

.warning-iocn, .mail-iocn {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  float: left;
}

.warning-iocn:hover, .mail-iocn:hover {
  background-color: #fafafa;
}

/*.warning-iocn {*/
  /*margin-left: 10px;*/
  /*background: url(warning_iocn.png) no-repeat center center;*/
  /*background-size: 17px 20px;*/
/*}*/

/*.mail-iocn {*/
  /*margin-right: 10px;*/
  /*background: url(mail_iocn.png) no-repeat center center;*/
  /*background-size: 21px 15px;*/
/*}*/

.num {
  position: absolute;
  top: 16px;
  left: 30px;
  min-width: 8px;
  height: 14px;
  line-height: 14px;
  font-size: 10px;
  color: #fff;
  padding: 0 3px;
  text-align: center;
  background: #fd512f;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.admin {
  position: relative;
  width: 200px;
  height: 60px;
  line-height: 60px;
  float: left;
}

.admin:after {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  width: 0;
  height: 20px;
  border-left: solid 1px #e2e2e2;
}

.admin-pic {
  position: relative;
  top: 10px;
  margin-left: 30px;
  display: inline-block;
}

.admin-name {
  color: #333;
  margin-left: 8px;
}

.down-iocn, .up-iocn {
  position: relative;
}

.down-iocn:after, .up-iocn:after {
  content: '';
  position: absolute;
  right: -15px;
  top: 5px;
  width: 8px;
  height: 4px;
}

/*.down-iocn:after {*/
  /*background: url(dwon_iocn.png) no-repeat left top;*/
  /*background-size: 100% 100%;*/
/*}*/

/*.up-iocn:after {*/
  /*background: url(up_iocn.png) no-repeat left top;*/
  /*background-size: 100% 100%;*/
/*}*/

/*.sign-out {*/
  /*width: 46px;*/
  /*height: 60px;*/
  /*float: left;*/
  /*cursor: pointer;*/
  /*background: #22d1b6 url(sign_out_iocn.png) no-repeat center center;*/
  /*backgrond-size: 20px 24px;*/
/*}*/

.fl-right {
  float: right;
}

/*.open-iocn {*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*cursor: pointer;*/
  /*background: url(open_iocn.png) no-repeat center center;*/
  /*background-size: 14px 11px;*/
/*}*/

/*.shrink-iocn {*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*cursor: pointer;*/
  /*background: url(shrink_iocn.png) no-repeat center center;*/
  /*background-size: 14px 11px;*/
/*}*/

/*左侧样式*/
.app-side-collapsed {
  width: 60px !important;
}

.app-side-expanded {
  width: 220px !important;
}

.el-menu--collapse {
  width: 100%;
}

.app-side-logo {
  text-align: center;
  overflow: hidden;
}

.app-logo-img {
  width: 23px;
  height: 23px;
  display: block;
  margin-top: 19px;
  margin-left: 15px;
  float: left;
}

.app-logo-name {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  float: left;
  margin-left: 5px;
}

.el-aside {
  background: #3a3f51;
  height: 100%;
  overflow: hidden;
}

.fl-left {
  float: left;
}

.el-menu {
  width: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  background: #3a3f51;
}


.el-menu-item.is-active {
  color: #fff;
}

.el-submenu__title:hover {
  background: #222a3a;
}

.el-menu-item:focus, .el-menu-item:hover {
  background: #222a3a;
}

.el-submenu__title {
  color: #c1c1c1;
}

.el-menu-item {
  color: #c1c1c1;
}


/*table关联样式*/
.file-head {
  overflow: hidden;
  padding: 15px;
  background-color: #fff;
  border: solid 1px #e1eaf1;
  border-bottom: solid 3px #409eff;
}

.file-left {
  float: left;
}

.file-right {
  float: right;
}

.tab-search-input {
  width: 200px;
}

.el-input__inner {
  border: solid 1px #e1eaf1;
}


/*翻页*/
.tab-bottom {
  overflow: hidden;
  margin-top: 15px;
}

.bot-but {
  float: left;
}

.el-pagination {
  float: right;
}


/*loading*/
.el-loading-spinner .el-loading-text {
  color: #fff;
}

.el-loading-spinner i {
  color: #fff;
}


/*当前位置*/
.location {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  overflow: hidden;
  background-color: #fff;
  border: solid 1px #e1eaf1;
  border-bottom: none;
}

/*左侧导航去掉横向滚动条*/
/*.el-scrollbar__wrap {
  overflow-x: hidden;
}*/

/*换肤*/
.skin-peeler {
  float: left;
  margin-right: 10px;
  margin-top: 13px;
}
